In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [7]:
df = pd.read_excel('D:/Lets Upgrade AI-ML/Study material/Day 24/Bank_Personal_Loan_Modelling.xlsx', sheet_name=1)

In [8]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [9]:
#Round() is a built-in function available with python. It will return you a float number that will be rounded to the decimal places which are given as input.
df['CCAvg'] = np.round(df['CCAvg'])
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,2.0,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,2.0,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,3.0,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [27]:
from sklearn import preprocessing
labelencoder = preprocessing.LabelEncoder()
df['Age'] = labelencoder.fit_transform(df['Age'])
df['Experience'] = labelencoder.fit_transform(df['Experience'])
df['Income'] =labelencoder.fit_transform(df['Income'])
df['ZIP Code'] = labelencoder.fit_transform(df['ZIP Code'])
df['Family'] = labelencoder.fit_transform(df['Family'])
df['Education'] = labelencoder.fit_transform(df['Education'])

In [31]:
dfa = df.drop(['Age', 'Income'], axis = 1)

In [32]:
dfa.columns

Index(['ID', 'Experience', 'ZIP Code', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [33]:
dfb=dfa.dropna()

In [34]:
dfc=dfb.drop_duplicates()

# Random Forest

In [35]:
from sklearn.ensemble import RandomForestClassifier
randomforest_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [36]:
features = ['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account',
            'CD Account', 'Online', 'CreditCard']

In [19]:
randomforest_model.fit(X=df[features], y = df['Personal Loan'])

RandomForestClassifier(max_features=2, n_estimators=1000, oob_score=True)

In [20]:
print('OOB Accuracy:')
print(rf_model.oob_score_*100, '%')

OOB Accuracy:
98.64 %

In [22]:
for feature, imp in zip(features, randomforest_model.feature_importances_):
    print(feature, imp)

Age 0.050029900261795164
Experience 0.05019267621269294
Income 0.36571797877486434
Family 0.10017277753094572
CCAvg 0.13783299884427683
Education 0.16633585101936282
Mortgage 0.047064921921440926
Securities Account 0.006268550579005609
CD Account 0.055665638868442724
Online 0.009695448700800996
CreditCard 0.011023257286371827

# Decision Tree

In [23]:
from sklearn import tree
tree_model = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [24]:
prediction = pd.DataFrame([df['Education'], df['CCAvg'], df['Income']]).T
tree_model.fit(X = pred, y = df['Personal Loan'])

DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)