In [1]:
import pandas as pd
import numpy as np

In [40]:
train = pd.read_csv('D:/Lets Upgrade AI-ML/Assignments/Day 24/train.csv')

In [21]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
train['Age'].mean()

32.69985376827896

In [42]:
train['Fare'].mean()

32.09668087739029

In [23]:
new_age = np.where(train['Age'].isnull(), 32, train['Age'])
train['Age'] = new_age

In [43]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train['Sex'] = label_encoder.fit_transform(train['Sex'])

In [44]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [45]:
from sklearn import tree
features = pd.DataFrame([train['Age'], train['Sex'], train['Fare']]).T
tree_max = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [48]:
tree_max.fit(X = features, y = train['Survived'])

DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [47]:
tree_max.score(X = features, y = train['Survived'])

0.8110236220472441

In [49]:
test = pd.read_csv('D:/Lets Upgrade AI-ML/Assignments/Day 24/test.csv')

In [50]:
test['Age'].mean()

33.23741007194245

In [51]:
new_age_v = np.where(test['Age'].isnull, 33, test['Age'])
test['Age'] = new_age_v

In [56]:
test['Sex'] = label_encoder.fit_transform(test['Sex'])

In [57]:
test_features = pd.DataFrame([test['Age'], test['Sex'], test['Fare']]).T
test_predictions = tree_max.predict(X = test_features)

In [58]:
Prediction = pd.DataFrame({'PassengerID':test['PassengerId'], "Survived":test_predictions})