In [66]:
import pandas as pd
import numpy as np

In [67]:
df=pd.read_csv('D:/Lets Upgrade AI-ML/Assignments/Day 24/general_data.csv')

In [68]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [48]:
df.columns
print(df.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [49]:
#The fit() function calculates the values of these parameters. The transform function applies the values of the parameters on the actual data and gives the normalized value. The fit_transform() function performs both in the same step.
#Label Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form.
from sklearn import preprocessing
labelencoder = preprocessing.LabelEncoder()
df['Attrition'] = labelencoder.fit_transform(df['Attrition'])
df['BusinessTravel'] = labelencoder.fit_transform(df['BusinessTravel'])
df['EducationField'] =labelencoder.fit_transform(df['EducationField'])
df['Department'] = labelencoder.fit_transform(df['Department'])
df['MaritalStatus'] = labelencoder.fit_transform(df['MaritalStatus'])
df['JobRole'] = labelencoder.fit_transform(df['JobRole'])

In [69]:
dfa = df.drop(['EmployeeCount', 'EmployeeID', 'Over18', 'StandardHours','Gender'], axis = 1)

In [70]:
#The drop function drops out the columns 
dfa.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'JobLevel', 'JobRole', 'MaritalStatus',
       'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [52]:
dfb=dfa.dropna()

In [53]:
dfc=dfb.drop_duplicates()

# Random Forest

In [71]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)

In [72]:

features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

In [73]:
print('OOB Accuracy:')
print(rf.oob_score)

OOB Accuracy:
True

# Decision Tree

In [74]:
from sklearn import tree
tree_model = tree.DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)

In [75]:
prediction = pd.DataFrame([dfc['Age'], dfc['TotalWorkingYears'], dfc['MonthlyIncome']]).T
tree_model.fit(X = pred, y = dfc['Attrition'])

DecisionTreeClassifier(max_depth=6, max_leaf_nodes=12)